*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

 /*Header*/
header{
    background-color: #9a7b4a;
}

header nav a img{
    width: 120px;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header nav ul{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

header nav a{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/*Sections*/
section{
    min-height: 100vh;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Titulo principal*/
.titulo {
    text-align: center;
    color: #c49a6c;
    font-size: 30px;
    margin-top: 30px;
    font-family: 'Playfair Display', serif;
}

/*Carousel*/
.carousel {
    width: 80vw;          
    margin: 0 auto;
    overflow: hidden;
    height: auto;         
}

.carousel img {
    width: 100%;          
    max-height: 60vh;      
    object-fit: cover;
    display: block;
    margin: auto;
}

.carousel-caption{
    color: white;
    background-color: rgba(154, 123, 74, 0.8);
    width: 50%;
    margin: auto;
}

/*Subtitulo*/
.subtitulo{
    text-align:center;
    color: #c49a6c;
    font-size: 30px;
    margin-top: 30px;
    font-family: 'Playfair Display', serif;
}

.parrafo {
    text-align: center;
    max-width: 800px;  
    margin: auto;       
    line-height: 1.6;     
}

/*Acordion*/
.accordion{
    width: 70vw;
    margin: 40px auto;
}

.accordion-button, .accordion-button:not(.collapsed){
    background-color: #c49a6c;
    color: black;
}