*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

 /*Header*/
header{
    background-color: #9a7b4a;
}

header nav a img{
    width: 120px;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header nav ul{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

header nav a{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/*Sections*/
section{
    min-height: 100vh;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

/*Titulo principal*/
.titulo {
    text-align: center;
    color: #c49a6c;
    font-size: 30px;
    margin-top: 30px;
    font-family: 'Playfair Display', serif;
}

/*Carousel*/
.carousel {
    width: 80vw;          
    margin: 0 auto;
    overflow: hidden;
    height: auto;         
}

.carousel img {
    width: 100%;          
    max-height: 60vh;      
    object-fit: cover;
    display: block;
    margin: auto;
}

.carousel-caption{
    color: white;
    background-color: rgba(154, 123, 74, 0.8);
    width: 50%;
    margin: auto;
}

/*Subtitulo*/
.subtitulo{
    text-align:center;
    color: #c49a6c;
    font-size: 30px;
    margin-top: 30px;
    font-family: 'Playfair Display', serif;
}

.parrafo {
    text-align: center;
    max-width: 800px;  
    margin: auto;       
    line-height: 1.6;     
}

/*Cards*/
.card-nosotros {
    background-color: whitesmoke;
    padding: 20px;
    margin: 20px auto;          
    max-width: 400px;        
    border-radius: 10px;       
    text-align: center;         
}

.card-nosotros img{
    width: 100%;
    margin-bottom: 10px;
}

.card-nosotros h3 {
    color:#c49a6c;             
    font-size: 18px;           
    font-family: 'Playfair Display', serif;
}

.card-nosotros p,
.card-nosotros ul {
  font-size: 14px;            
  margin: 0;
}

/*Galeria*/
.catalogo-contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 25px;
    padding: 40px 60px;
    justify-items: center;
    align-items: start;
    min-height: 100vh;
}

.producto{
    background-color: whitesmoke;
    padding: 15px;
    text-align: center;
    max-width: 280px;
}

.producto img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.producto h4{
    color:#c49a6c ;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    margin-bottom: 5px;
}

.producto p{
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: black;
    margin-bottom: 10px;
}

.ver-mas{
    background-color: #c49a6c;
    color: black;
    padding: 8px 15px;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
}