*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

 /*Header*/
header{
    background-color: #9a7b4a;
}

header nav a img{
    width: 120px;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header nav ul{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

header nav a{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/*Sections*/
section{
    min-height: 100vh;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
}

/*Titulo principal-Inicio*/
.titulo {
    text-align: center;
    color: #c49a6c;
    font-size: 30px;
    margin-top: 30px;
    font-family: 'Playfair Display', serif;
}

/*Carousel-Inicio*/
.carousel {
    width: 80vw;          
    margin: 0 auto;
    overflow: hidden;
    height: auto;         
}

.carousel img {
    width: 100%;          
    max-height: 60vh;      
    object-fit: cover;
    display: block;
    margin: auto;
}

.carousel-caption{
    color: white;
    background-color: rgba(154, 123, 74, 0.8);
    width: 50%;
    margin: auto;
}

/*Subtitulo-Quienes somos-Catalogo*/
.subtitulo{
    text-align:center;
    color: #c49a6c;
    font-size: 30px;
    margin-top: 30px;
    font-family: 'Playfair Display', serif;
}

.parrafo {
    column-count: 2;
    column-gap: 40px;
    text-align: justify;
    max-width: 900px;  
    margin: 20px auto;       
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;  
}

.parrafo p {
    break-inside: avoid;
    margin-bottom: 15px;
}

/*Cards-Quienes somos*/
.card-nosotros {
    background-color: whitesmoke;
    padding: 20px;
    margin: 20px auto;          
    max-width: 400px;        
    border-radius: 10px;       
    text-align: center;         
}

.card-nosotros img{
    width: 100%;
    margin-bottom: 10px;
}

.card-nosotros h3 {
    color:#c49a6c;             
    font-size: 18px;           
    font-family: 'Playfair Display', serif;
}

.card-nosotros p,
.card-nosotros ul {
  font-size: 14px;            
  margin: 0;
}

/*Galeria-Catalogo*/
.logo-contacto {
    width: 150px;
    height: auto;
    display: block;
    margin: left;
}

.catalogo-contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 25px;
    padding: 40px 60px;
    justify-items: center;
    align-items: start;
    min-height: 100vh;
}

.producto{
    background-color: whitesmoke;
    padding: 15px;
    text-align: center;
    max-width: 280px;
}

.producto img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.producto h4{
    color:#c49a6c ;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    margin-bottom: 5px;
}

.producto p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: black;
    margin-bottom: 10px;
}

.ver-mas{
    background-color: #c49a6c;
    color: black;
    padding: 8px 15px;
    font-family: 'Montserrat', sans-serif;
     font-size: 14px;
}

/*Contacto*/
.titulo-contacto{
    text-align:left;
    color: #c49a6c;
    font-size: 24px;
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
}

.form-contacto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.form-contacto label{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
}

.form-contacto input,
.form-contacto textarea,
.form-contacto select {
    padding: 8px 10px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.form-contacto legend{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
}

.botones button{
    padding: 6px;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

[type=reset] {
    background-color: red;
    color: white;
}

[type=submit] {
    background-color: green;
    color: white;
}


/* Mediaqueries*/
@media (max-width: 480px) {
    header nav {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
    }
    header nav ul {
        flex-direction: column;
        gap: 8px;
        align-items: center;
        width: 100%;
        margin: auto;
        padding: 0;
        margin: 0;
    }
    header nav a img {
        width: 100px;
        height: auto;
        margin-bottom: 5px;
    }
    .parrafo{
        column-count: 1;
        column-gap: 0;
        text-align: left;
        font-size: 14px;
        padding: 0 10px;
    }
}

 @media (max-width: 400px) {
    .catalogo-contenedor {
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 15px;
    }
    .producto {
        max-width: 90%;
        margin: 0 auto;
        padding: 15px;
    }
    .producto img{
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
    .producto h4 {
        font-size: 16px;
    }
    .producto p {
        font-size: 14px;
    }
    .ver-mas {
        font-size: 14px;
        padding: 8px 12px;
    }
    .parrafo{
        column-count: 1;
        text-align: left;
        padding: 0 12px;
        font-size: 15px;
        line-height: 1.5;
    }
}